

.container {
	border-width:2px;
    border-style:solid;
    border-color:black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 800px;
	height: 600px;
}

.item1 {
	display: flex;
	background: red;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
}

.item2 {
	display: flex;
	background: blue;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
}

.item3 {
	display: flex;
	background: green;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
}